//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1536px;
$bp-desktop-xxl: 1920px;

//variables de fuentes
$poppins: 'Poppins';

//variables de color
$azul-ocuro:#0A0F2C;
$azul-profundo: #1C2541;
$azul-electrico: #3A86FF;
$azul-celeste: #B3CFF2;
$blanco: #FFFFFF;
$gris: #EAEAEA;
$rosa-neon: #FF61A6;
$azul-aguamarina: #4ED6CB;
$gris-azulado: #121829;