@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;


.container-footer-principal{
    padding-bottom: 100px;
    p{
        font-size: 15px;
        color: abs.$azul-aguamarina;
        @include abs.breakpoint(tablet){
            font-size: 20px;
        }
    }
}