@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;


.header-principal{
    padding-top: 20px;
    margin-bottom: 40px;
    .container-header-principal{
        border-bottom: 1px solid abs.$rosa-neon;
        padding-bottom: 20px;
        .titulo{
            font-size: 35px;
            text-align: center;
        }
        h2{
            font-size: 25px;
            text-align: center;
            margin-bottom: 25px;
            font-weight: bold;
        }
        .container-avatar-sobremi{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .avatar{
                width: 70%;
                border-radius: 10px;
                border: 1px solid abs.$azul-electrico;
            }
            .sobremi{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                h2{
                    font-size: 25px;
                    margin-bottom: 25px;
                    font-weight: bold;
                }
                p{
                    font-size: 15px;
                    color: abs.$azul-celeste;
                    font-weight: 500;
                }
                .redes-sociales{
                    width: 100%;
                    ul{
                        display: flex;
                        justify-content: space-around;
                        i{
                            color: abs.$azul-electrico;
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}