@use '../abstracts/abstracts' as abs;


@keyframes fadeIn{
    from { opacity: 0; transform: translateX(100px);}
    to { opacity: 1; transform: translateX(0);}
}

@keyframes typing {
  from { width: 0; }
  to { width: 16ch; }
}

@keyframes blink-cursor {
  0%, 100% { border-color: abs.$azul-electrico; }
  50% { border-color: transparent; }
}